.container {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.user__photo {
  margin-right: 1rem;
  transform: scale(60%) translateX(-15px);
}

.form {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.form__textarea {
  border-radius: 10px;
  border: solid 1px var(--light-gray);
  height: 10rem;
  width: 35vw;
  padding: 1rem;
}

.form__btn {
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--moderate-blue);
  color: var(--white);
  cursor: pointer;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
