.card {
  background-color: var(--white);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 5rem 1fr;
  margin-bottom: 1rem;
  padding: 1.5rem;

  @media (max-width: 37.5em) {
    align-items: center;
    gap: 1rem;
    grid-template-rows: 1rem 1fr 2rem;
  }
}

.card__score {
  align-items: center;
  background-color: var(--light-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  grid-row: 1 / 3;
  height: 7rem;
  justify-content: center;
  width: 3rem;

  @media (max-width: 37.5em) {
    flex-direction: row;
    grid-row: 3 / 4;
    height: 3rem;
    width: 7rem;
  }
}

.card__score span {
  @media (max-width: 37.5em) {
    margin: auto;
  }
}

.card__score mat-icon {
  color: var(--light-gray-blue);
}

.card__score p {
  color: var(--moderate-blue);
  font-weight: 700;
}

.card__details {
  align-items: center;
  display: flex;
  gap: 1rem;
  grid-row: 1 / 2;
  margin-top: -1rem;

  @media (max-width: 37.5em) {
    margin-top: 1rem;
  }
}

.card__details img {
  transform: scale(60%);
}

.heading-secondary {
  font-size: 16px;
  font-weight: 700;
}

.card__details--date p {
  color: var(--grayish-blue);

  @media (max-width: 37.5em) {
    white-space: nowrap;
  }
}

.card__details--reply {
  align-items: center;
  color: var(--moderate-blue);
  display: flex;
  gap: 0.5rem;
  grid-row: 1 / 2;
  margin-left: auto;
  margin-top: -1rem;

  @media (max-width: 37.5em) {
    margin-top: auto;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

.card__content {
  color: var(--grayish-blue);
  grid-column: 2 / 3;
  margin-top: 1rem;

  @media (max-width: 37.5em) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

.replies {
  margin-left: auto;
  width: 90%;
}
