<div class="card" *ngIf="!isEdit; else editPost">
  <div class="card__score">
    <span (click)="increaseScore()"><mat-icon>add</mat-icon></span>
    <p>{{ comment.score }}</p>
    <span (click)="decreaseScore()"><mat-icon>remove</mat-icon></span>
  </div>

  <div class="card__details">
    <img [src]="comment.user.image.webp" [alt]="comment.user.username" />
    <h2 class="heading-secondary">{{ comment.user.username }}</h2>
    <div class="card__details--date">
      <p>{{ comment.createdAt }}</p>
    </div>
  </div>

  <div
    class="card__details--action"
    (click)="onReply()"
    *ngIf="user.username !== comment.user.username"
  >
    <mat-icon>reply</mat-icon>
    <p class="heading-secondary">Reply</p>
  </div>

  <div
    class="card__details--action"
    *ngIf="user.username === comment.user.username"
  >
    <div class="card__details--delete" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      <p class="heading-secondary">Delete</p>
    </div>

    <div class="card__details--edit" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      <p class="heading-secondary">Edit</p>
    </div>
  </div>

  <div class="card__content">
    <p>{{ comment.content }}</p>
  </div>
</div>

<app-add-comment
  *ngIf="isReply"
  [isReply]="isReply"
  (comment)="addReply($event)"
></app-add-comment>

<div class="replies" *ngIf="comment.replies && comment.replies.length > 0">
  <app-card
    *ngFor="let reply of comment.replies"
    [comment]="reply"
    [parentComment]="comment"
  ></app-card>
</div>

<div class="delete__container" *ngIf="isDelete">
  <div class="delete__modal">
    <h2 class="delete__heading">Delete Comment</h2>
    <p class="delete__message">
      Are you sure you want to delete this comment? This will remove the comment
      and can't be undone.
    </p>
    <button class="btn btn__cancel" (click)="onDelete()">No, cancel</button>
    <button class="btn btn__delete" (click)="deleteComment()">
      Yes, delete
    </button>
  </div>
</div>

<ng-template #editPost>
  <app-add-comment
    [isEdit]="isEdit"
    [editComment]="comment"
    (edit)="editComment($event)"
  ></app-add-comment>
</ng-template>
